node_modules/
dist/
.wrangler/
.dev.vars
*.local
.DS_Store
npm-debug.log*
.vscode/
.idea/
service-account*.json
*.key.json

*.tsbuildinfo

# chave da service account do GCP (nome do arquivo baixado)
studio-*-*.json
*-de430-*.json
